<html layout:decorate="~{memberInfo}">
<div layout:fragment="content" class="container my-3">
	<div class="page-body" style="display: block;">
	    <div class="my-3">
	        <div>
	            <h2 class="member_title">비밀번호 변경</h2>
	        </div>
	    </div>

	    <form role="form" name="myInfoFrm" id="myInfoFrm">
	        <div class="member-join-form mt-5">
		        <div class="mb-3">
		            <input type="password" id="curPassword" class="txt-form form-control" placeholder="현재 비밀번호">
		        </div>
		        <div class="mb-3">
		            <input type="password" id="newPassword1" class="txt-form form-control" placeholder="새 비밀번호">
		        </div>
		        <div class="mb-3">
		            <input type="password" id="newPassword2" class="txt-form form-control"  placeholder="새 비밀번호확인">
		        </div>
	        </div>
	        
	        <div class="mt-5">
	        	<a type="button" id="changePwdBtn" class="member_button btn btn-danger btn-lg btn-block">수정</a>
	        	<a href="javascript:history.back()" class="member_button btn btn-dark btn-lg btn-block">취소</a>
	        </div>
	    </form>
	</div>
</div>

<script layout:fragment="script" type='text/javascript'>
	let header = $("meta[name='_csrf_header']").attr("content");
    let token = $("meta[name='_csrf']").attr("content");

	$("#changePwdBtn").click(function(){
		let curPassword = $("#curPassword").val();
		let newPassword1 = $("#newPassword1").val();
		let newPassword2 = $("#newPassword2").val();
		
		if(!curPassword){
			swal("알림", "현재 비밀번호를 입력해주세요.", "warning");
		}else if(!newPassword1){
			swal("알림", "새로운 비밀번호를 입력해주세요.", "warning");
		}else if(!newPassword2){
			swal("알림", "새로운 비밀번호를 한번 더 입력해주세요.", "warning");
		}else if(newPassword1 !== newPassword2){
			swal("알림", "새로운 비밀번호가 일치하지 않습니다.", "warning");
		}else{
		$.ajax({
			type: "POST",
			url : "/member/mypage/changePassword",
			data : {
				"curPassword" : curPassword, 
				"newPassword1" : newPassword1, 
				"newPassword2" : newPassword2
			},
			beforeSend: function (xhr){
	           xhr.setRequestHeader(header, token);
			},
			success : function(result){
				if(result['result']){
					swal("성공", "수정 완료 되었습니다", "success");
					window.location = "/member/login";
				}else{
					swal("실패", "현재 비밀번호가 일치하지 않습니다.", "error");
				}

			}
			})
		}
	});

</script>
</html>