<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
            <p>제리샵에 가입하시면 다양한 혜택을 받으실 수 있습니다.</p>
        </div>
    </div>
    <form th:action="@{/member/join}" th:object="${memberJoinForm}" method="post">
        <div th:replace="/common/form_errors :: formErrorsFragment"></div>
        <div class="mt-3">
        	<h5>기본정보</h5>
        	<hr>
	        <div class="mb-3">
	            <label for="userId" class="form-label">아이디</label>
	            <input type="text" th:field="*{userId}" class="form-control">
	        </div>
	        <div class="mb-3">
	            <label for="password" class="form-label">비밀번호</label>
	            <input type="password" th:field="*{password1}" class="form-control">
	        </div>
	        <div class="mb-3">
	            <label for="password" class="form-label">비밀번호 확인</label>
	            <input type="password" th:field="*{password2}" class="form-control">
	        </div>
        </div>
        
        <div class="mt-3">
    		<h5>개인정보</h5>
    		<hr>
	        <div class="mb-3">
	            <label for="name" class="form-label">이름</label>
	            <input type="text" th:field="*{name}" class="form-control">
	        </div>
	        <div class="mb-3">
	            <label for="email" class="form-label">이메일</label>
	            <input type="email" th:field="*{email}" class="form-control">
	        </div>
	        <div class="mb-3">
	            <label for="mobile" class="form-label">핸드폰번호</label>
	            <input type="tel" th:field="*{mobile}" class="form-control">
	        </div>
	        <div class="mb-3">
	        	<label for="postNumber" class="form-label">우편번호</label>
	            <input type="text" th:field="*{postNumber}" class="form-control">
	            <label for="address" class="form-label">주소</label>
	            <input type="text" th:field="*{address}" class="form-control">
	        </div>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>