<nav th:fragment="memberSidebar" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="list-group">
        <a class="sidebar rounded-0 list-group-item list-group-item-action list-group-item-light active" id="myInfo" th:href="@{|/member/mypage/${#authentication.getPrincipal().getUsername()}|}">회원정보수정 </a>
        <a class="sidebar rounded-0 list-group-item list-group-item-action list-group-item-light " id="changePassword"th:href="@{/member/mypage/changePassword}">비밀번호 변경</a>
    </div>
</nav>