body, input, textarea, button, table {
    font-family: 'Montserrat','Noto Sans KR',sans-serif;
    letter-spacing: -0.8px;
    font-size: 13px;
    /* line-height: 1.4em; */
    color: #333;
}

body, h1, h2, h3, h4, h5, h6, table, input, select, textarea, a {
    font-size: 12px;
    line-height: 1.25;
    color: #777;
    font-family: 'Montserrat','Noto Sans KR',sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

.page-body {
	width: 500px;
	margin: auto;
}

li {
	list-style: none;
}