<html layout:decorate="~{admin/index}">
	<div layout:fragment="content" class="container my-3">
	       <!-- Begin Page Content -->
        <div class="container-fluid">
	
	            <!-- Page Heading -->
	            <h1 class="h3 mb-2 text-gray-800">상품 수정</h1>
	            <!--
	            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
	                For more information about DataTables, please visit the <a target="_blank"
	                    href="https://datatables.net">official DataTables documentation</a>.</p> -->
	
	            <!-- DataTales Example -->
	            <div class="card shadow mb-4">
	                <div class="card-header py-3">
	                    <h6 class="m-0 font-weight-bold text-primary">상품 수정 페이지</h6>
	                </div>
	                <div class="card-body">
						<form role="form" method="post" id="productModifyFrm" enctype="multipart/form-data">
					        <div class="member-join-form">
						        <div class="mt-2 mb-3" style="display: none;">
						            <input type="text" class="txt-form form-control" th:value="${product.id}" name="productId" placeholder="품번">
						        </div>
						        <div class="mt-2 mb-3">
						            <input type="text" class="txt-form form-control" th:value="${product.productName}" name="productName" placeholder="상품명">
						        </div>
						        <div class="mt-4 mb-3">
						            <input type="text" class="txt-form form-control" th:value="${product.detail}" name="detail" placeholder="상세설명">
						        </div>
						        <div class="mb-3">
						            <input type="number" class="txt-form form-control" th:value="${product.price}" name="price" placeholder="가격">
						        </div>
						        <div class="mb-3">
						            <input type="number" class="txt-form form-control" th:value="${product.discountRatio}" name="discountRatio" placeholder="할인율">
						        </div>
						        <div class="mb-3">
						            <input type="number" class="txt-form form-control" th:value="${product.discount}" name="discount" placeholder="할인가격">
						        </div>
						        <div class="mb-3">
						            <input type="number" class="txt-form form-control" th:value="${product.stock}" name="stock" placeholder="재고">
						        </div>

						        <div class="mt-4 mb-3">
						            <input type="text" class="txt-form form-control" th:value="${product.origin}" name="origin" placeholder="원산지">
						        </div>
						        <div class="mt-4 mb-3">
						            <input type="text" class="txt-form form-control" th:value="${product.delivery}" name="delivery" placeholder="배송방법">
						        </div>
						        <div class="mt-4 mb-3">
						            <select class="form-select" name="category1" id="category1" style="display:inline; width:49%">
						            	<option value="">대분류</option>
						            	<option th:if="${product.category1}" id="currentSelectedCategory1" style="display:none" th:value="${product.category1}">
						            </select>
						        
						            <select class="form-select" name="category2" id="category2" style="display:inline; width:49%">
						            	<option value="">소분류</option>
						            	<option th:if="${product.category2}" id="currentSelectedCategory2" style="display:none" th:value="${product.category2}">
						            </select>
						        </div>
						        <div class="mt-4 mb-3">
						            <input type="file" th:if="${product.imageName}" th:value="${product.imageName}" class="txt-form form-control" placeholder="썸네일" style="display:inline; width:85%">
						            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button" id="imageUploadBtn"><i class="fas fa-download fa-sm text-white-50"></i> 업로드</button>
						        </div>
						        <div class="mt-2 mb-3" id="thumbnail-area">
						        	<img th:src="@{|/display?fileName=${product.imagePath}|}" th:if="${product.imagePath}" style="width: 100%; height: auto;">
						        	<button class='removeBtn btn btn-dark btn-sm btn-block' th:if="${product.imagePath}" th:data-name="${product.imagePath}">REMOVE</button>
						        </div>
					        </div>
					        
					        <div class="mt-5">
					        	<a type="button" id="productModifyBtn" class="d-sm-inline-block btn btn-sm btn-success btn-icon-split shadow-sm"><span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">상품수정</span></a>
					        	<a type="button" href="javascript:history.back()" class="d-sm-inline-block btn btn-sm btn-dark btn-icon-split shadow-sm">
					        		<span class="icon text-white-50">
                                    	<i class="fas fa-arrow-right"></i>
                                	</span>
                                	<span class="text">취소</span>
                                </a>
					        </div>
					    </form>
	                </div>
	
	            </div>
	        </div>
	        <!-- /.container-fluid -->
	        </div>
	    </div>
<script layout:fragment="script" type='text/javascript'>
	let currentSelectedCategory1 = $("#currentSelectedCategory1").val();
	let currentSelectedCategory2 = $("#currentSelectedCategory2").val();
		

	$(document).ready(function(){
		getCategory1List();
		category2List(Number(currentSelectedCategory1));
	});
	
	function getCategory1List(){
		$.ajax({
			url: '/category/list',
			dataType: 'json',
			type: 'GET',
			success: function(result){
				showCategoryList(result);
			}
		});
	}
	
;

	function showCategoryList(result){

		let cate1Arr = new Array();
		let cate1Obj = new Object();
		
		// 1차 분류 셀렉트 박스에 삽입할 데이터 준비
		for(let i = 0; i < result.length; i++) {
			 if(result[i]["depth"] == 1) {
			  cate1Obj = new Object();
			  cate1Obj.categoryId = result[i]["id"];
			  cate1Obj.name = result[i]["name"];
			  cate1Arr.push(cate1Obj);
			 }
		}
		
		let cate1Select = $("#category1")
		
		for(var i = 0; i < cate1Arr.length; i++) {
			if(Number(currentSelectedCategory1) === cate1Arr[i].categoryId){
				cate1Select.append("<option value='" + cate1Arr[i].categoryId + "' selected>"+ cate1Arr[i].name + "</option>"); 
			}else{
		 cate1Select.append("<option value='" + cate1Arr[i].categoryId + "'>"
		      + cate1Arr[i].name + "</option>"); 
		      }
		}

	}
	
	function category2List(parent){
		$.ajax({
			url: '/category/list/child',
			data: {
				"parent" : parent
			},
			type: 'GET',
			success: function(result){
				console.log(result)
				showCategory2List(result);
			}
		});
	}

	function showCategory2List(result){
		let cate2Arr = new Array();
		let cate2Obj = new Object();
		
		// 1차 분류 셀렉트 박스에 삽입할 데이터 준비
		for(let i = 0; i < result.length; i++) {
			 if(result[i]["depth"] == 2) {
			  cate2Obj = new Object();
			  cate2Obj.categoryId = result[i]["id"];
			  cate2Obj.name = result[i]["name"];
			  cate2Arr.push(cate2Obj);
			 }
		}
		
		let cate2Select = $("#category2")
		
		for(var i = 0; i < cate2Arr.length; i++) {
			if(Number(currentSelectedCategory2) == cate2Arr[i].categoryId){
				cate2Select.append("<option value='" + cate2Arr[i].categoryId + "' selected>"+ cate2Arr[i].name + "</option>"); 
			}else{
		 cate2Select.append("<option value='" + cate2Arr[i].categoryId + "'>"
		      + cate2Arr[i].name + "</option>"); 
		      }
		}
	}
</script>
</html>